<h2>twitter検索</h2>
<%= link_to "bitcoin",  :action => "show", :keyword => "bitcoin BTC ビットコイン", :id => "bitcoin" %>
<%= link_to "Ethereum",  :action => "show", :keyword => "Ethereum ETH イーサリアム", :id => "Ethereum" %>
<%= link_to "Ethereum Classic",  :action => "show", :keyword => "Ethereum Classic ETC イーサリアムクラシック", :id => "Ethereum Classic" %>
<%= link_to "Lisk",  :action => "show", :keyword => "Lisk LSK リスク", :id => "Lisk" %>
<%= link_to "Factom",  :action => "show", :keyword => "Factom FCT ファクトム", :id => "Factom" %>
<%= link_to "Monero",  :action => "show", :keyword => "Monero XMR モネロ", :id => "Monero" %>
<%= link_to "Augur",  :action => "show", :keyword => "Augur REP オーガー", :id => "Augur" %>
<br>
<%= link_to "Ripple",  :action => "show", :keyword => "Ripple XRP リップル", :id => "Ripple" %>
<%= link_to "Zcash",  :action => "show", :keyword => "Zcash ZEC ジーキャッシュ", :id => "Zcash" %>
<%= link_to "NEM",  :action => "show", :keyword => "NEM XEM ネム", :id => "NEM" %>
<%= link_to "Litecoin",  :action => "show", :keyword => "Litecoin LTC ライトコイン", :id => "Litecoin" %>
<%= link_to "DASH",  :action => "show", :keyword => "DASH ダッシュ -マンガ -ストア -アニメイト -ボタン", :id => "DASH" %>
<%= link_to "Bitcoin Cash",  :action => "show", :keyword => "Bitcoin Cash BCH ビットコインキャッシュ", :id => "Bitcoin Cash" %>
<br>
<br>
<%= link_to "bitFlyer",  :action => "show", :keyword => "bitFlyer ビットフライヤー", :id => "bitFlyer" %>
<%= link_to "coincheck",  :action => "show", :keyword => "coincheck コインチェック", :id => "coincheck" %>
<%= link_to "Zaif",  :action => "show", :keyword => "Zaif ザイフ", :id => "Zaif" %>